@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Pacifico", cursive;
  background-color: #fed90f;
  border-bottom: 2px solid orange;
  color: #424f46;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  display: block;
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #424f46;
}

body {
  background-color: #efecec;
}

body section {
  min-height: 100vh;
}

.intro,
.portfolio {
  position: relative;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.intro .image {
  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
  position: relative;
  border: 5px solid #70d1fe;
  border-radius: 50%;
}

.intro .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.intro .description {
  width: 90%;
  text-align: center;
  z-index: 3;
  font-family: "Nunito", sans-serif;
}

.intro #triangle {
  position: absolute;
  width: 50%;
  right: 0%;
  bottom: 0%;
  height: 20rem;
  background: #70d1fe;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  display: flex;
}

.portfolio .background-z {
  position: absolute;
  z-index: -3;
  top: -10%;
  opacity: 0.75;
  width: 50%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.portfolio .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .projects .project {
  width: 100%;
  height: 20rem;
  border-radius: 0.75rem;
  background-color: rgba(239, 236, 236, 0.692);
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(60, 243, 152, 0.685) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(60, 243, 152, 0.685) 0px 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio .projects .project .title {
  color: black;
}

.portfolio .projects .project .description {
  padding: 2rem;
  display: none;
}

.portfolio .projects .project:hover .title {
  display: none;
}

.portfolio .projects .project:hover .description {
  display: block;
}

.portfolio .projects .project:nth-child(2n) {
  -webkit-box-shadow: rgba(12, 163, 118, 0.19) 0px 10px 20px, rgba(238, 95, 29, 0.788) 0px 6px 6px;
          box-shadow: rgba(12, 163, 118, 0.19) 0px 10px 20px, rgba(238, 95, 29, 0.788) 0px 6px 6px;
}

.title {
  text-align: center;
  display: block;
  padding: 2rem;
  margin: 2rem;
  font-family: "Pacifico", cursive;
}

#wave {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 100%;
  fill: #393e46;
  fill-opacity: 1;
}
/*# sourceMappingURL=style.css.map */
